.cor{
    color: white;
    display: flex;
    justify-content: center;
}


.centro{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.pesquisa{
    background-color: lightgray;
    color: black;
    width: 500px;
    height: 40px;
    border-radius: 30px;
    font-size: xx-large;
}

.busca{
    background-color: lightgray;
    color: black;
    width: 300px;
    height: 43px;
    border-radius: 30px;
    font-size: x-large;
}


.bloquear{
    background-color: red;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 90px;
    font-size: x-large;
    cursor: pointer;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.arruma{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.lista{
    width: 40%;
    height: 500px;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arruma2{
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    list-style-type: none;

    font-size: 50px;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    border-left: 3px solid #55d2db;
}

.img{
    width: 50px;
    margin-right: 10px;
}

