.cor{
    color: white;
    display: flex;
    justify-content: center;
}


.centro{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}



.borda{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 500px;
    margin-top: 30px;
    background: linear-gradient(45deg, #5EECF5, #002244);
    border-radius: 50px;
}

.lista{
    width: 99%;
    height:490px;
    background-color: rgb(34, 34, 34);
    border-radius: 50px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arruma2{
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    list-style-type: none;

    font-size: 50px;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    border-left: 4px dashed red;
}

.img{
    width: 60px;
    margin-right: 10px;
}

