.cor{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.lista{
    width: 95%;
    height: 87%;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    position: relative;
}

.arruma2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 15%;
}

.principal{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    position: relative;
    height: 70%;
}


.pesquisa{
    background-color: white;
    color: black;
    width: 470px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid black;
    font-size: 40px;
    margin-left: 10px;
}

.arruma{
    list-style-type: none;
    font-size: 50px;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.logo{
    width: 100px;
    height: 80px;
    margin-right: 10.5%;
}





.SCROLADIABO {
    overflow-y: auto;
    overflow-x: hidden; 
    max-height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    border-left: 2px solid #55d2db;
    gap: 10px;
}

.img{
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}


.link_nome{
    color: white;
}


.add{
    margin-top: 13px;
    margin-right: 5px;
}



.lateral{
    max-width: 30%;
    margin-right: 10%;
}



.botoes{
    background: linear-gradient(to bottom, #5EECF5, #002244);
    border-radius: 90px;
    width: 90px;
    height: 90px;
    text-align: center;
}

.lbotao{
    margin-top: 10px;
}


.lis_bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.botoesDenovo{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*@media (max-width: 600px){
    .cor{
        color: white;
        display: flex;
        justify-content: center;
    }

    .centro{
        display: flex;
        flex-direction: column;
    }

    .lista{
        width: 180%;
        height: auto;
        background-color: rgb(37, 37, 37);
        border-radius: 50px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow-x: hidden;
    }

    .principal{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .arruma{
        list-style-type: none;
        font-size: 65px;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
    }    

    .arruma2{
        width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .logo{
        margin-right: 10%;
        width: 100px;
        height: 80px;
        visibility: hidden;
    }

    .pesquisa{
        background-color: white;
        color: black;
        width: 470px;
        height: 55px;
        border-radius: 30px;
        border: 3px solid black;
        font-size: 50px;
        margin-left: 10px;
        position: relative;
    }

    

    

    .SCROLADIABO{
        overflow-y: auto;
        overflow-x: hidden; 
        max-height: 600px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        max-width: 60%;
        margin-left: 10px;
        margin-top: 70px;
        border-left: 5px solid #55d2db;
        gap: 0;
    }

    .img{
        width: 70px;
        margin-top: 10px;
    }


    .botoes{
        background: linear-gradient(to bottom, #5EECF5, #002244);
        border-radius: 100px;
        width: 100px;
        height: 95px;
        text-align: center;
        padding-top: 5px;
    }

    .lateral{
        max-width: 30%;
        margin-right: 10%;
    }


    .botoesDenovo{
        display: block;
        justify-content: center;
        gap: 50px;
        width: auto;
        height: auto;
    }

    .lis_bot{
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        justify-content: bottom;
        width: 100px;
        margin: 0px;
        padding: 0;
    }

    .nav{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 100px;
        align-items: center;
        margin-left: 5px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    }

    .nav.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav.hide {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }


    .collapsed {
        height: 100px;
    }
    
    .expanded {
        height: 200px;
    }
}
*/

.vazio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.vazio img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.imgVazio{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.pVazio{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}