.cor{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.centro{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lista{
    width: auto;
    height: 1000px;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.pesquisa{
    background-color: lightgray;
    color: black;
    width: 470px;
    height: 50px;
    border-radius: 30px;
    font-size: 40px;
    margin-left: 10px;
}

.busca{
    background-color: lightgray;
    color: black;
    width: 300px;
    height: 43px;
    border-radius: 30px;
    font-size: x-large;
}


.adiciona{
    background-color: lightgray;
    color: black;
    width: 120px;
    height: 50px;
    border-radius: 90px;
    font-size: x-large;
}


.arruma3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.arruma{
    list-style-type: none;
    font-size: 40px;
    align-items: center;
    gap: 10px;
}


.SCROLADIABO {
    overflow-y: auto;
    overflow-x: hidden; 
    max-height: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 900px;
}

.img{
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}


.link_nome{
    color: white;
}


.arruma2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.ade{
    background: linear-gradient(to bottom, #5EECF5, #002244);
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 5px;
    text-align: center;
}
.add{
    margin-top: 13px;
    margin-right: 5px;
}


.botoesDenovo{
    display: flex;
    justify-content: top;
}

.links{
    display: flex;
    justify-content: end;
}

.botoes{
    background: linear-gradient(to bottom, #5EECF5, #002244);
    border-radius: 90px;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.lbotao{
    margin-top: 10px;
}

.lateral{
    max-width: 30%;
}


@media (max-width: 400px){
    .cor{
        color: white;
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }

    .arruma{
        list-style-type: none;
        font-size: 70px;
        align-items: center;
        margin-bottom: 10px;
        gap: 10px;
    }    

    .arruma2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        position: relative;
    }

    .centro{
        width: 110%;
        display: flex;
        justify-self: center;
    }

    .lista{
        width: 250%;
        height: auto;
        background-color: rgb(37, 37, 37);
        border-radius: 50px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
    }


    .SCROLADIABO{
        overflow-y: auto;
        overflow-x: hidden; 
        max-height: 600px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        max-width: 80%;
        margin-left: 20px;
    }


    .botoesDenovo{
        display: flex;
        flex-direction: column;
    }



}