.cor{
    color: white;
    display: flex;
    justify-content: center;
}

.centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pesquisa{
    background-color: lightgray;
    color: black;
    width: 400px;
    height: 45px;
    border-radius: 30px;
    font-size: 35px;
}


.lista{
    width: 100%;
    height: 300px;
    background-color: #5C5C5C;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.arruma2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}




.pesfiltro{
    display: flex;
    flex-direction: column;
}



.pesquisa2{
    font-size: xx-large;
    margin-bottom: 80px;
    border-end-end-radius: 100px;
    height: 40px;
}

.texfil{
    font-size: larger;
}

.fil_sele{
    display: flex;
    flex-direction: column;
    width: 400px;
}


.adicioarAmigo{
    width: 30px;
    height: 30px;
    background-color: red;

}

.divDosUsuarios{
    background-color: black;
    border: 5px solid white ;
}

.filtros{
    background-color: #818181;
    overflow-x: scroll;
    width: 40%;
    height: 250px;
}

.filtro{
    font-size: 100px;
    margin-bottom: 15px;
}

.radioLabel{
    font-size: x-large;
    background-color: #535353;
    color: black;
    border-radius: 60px;
}

.fil{
    list-style-type: none;
}

.pes_filtro{
    margin-left: 8%;
}








.arruma{
    list-style-type: none;
    font-size: 40px;
    align-items: center;
    gap: 10px;
}

.img{
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}



















