.cor{
    color: white;
    display: flex;
    justify-content: center;
}

.centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}




.img{
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}





.pesfiltro{
    display: flex;
    flex-direction: column;
}



.pesquisa2{
    font-size: xx-large;
    margin-bottom: 80px;
    border-end-end-radius: 100px;
    height: 40px;
}

.texfil{
    font-size: larger;
}

.fil_sele{
    display: flex;
    flex-direction: column;
    width: 400px;
}


.adicioarAmigo{
    width: 30px;
    height: 30px;
    background-color: red;

}



.filtros{
    background-color: #818181;
    overflow-x: scroll;
    width: 40%;
    height: 250px;
}

.filtro{
    font-size: 100px;
    margin-bottom: 15px;
}

.radioLabel{
    font-size: x-large;
    background-color: #535353;
    color: black;
    border-radius: 60px;
}

.fil{
    list-style-type: none;
}

.pes_filtro{
    margin-left: 8%;
}





.lista{
    width: 50%;
    height: 350px;
    background-color: #5C5C5C;
    border-radius: 50px;
    border: 3px solid var(--degrade);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.pesquisa{
    background-color: lightgray;
    color: black;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    font-size: 40px;
    margin-top: 10px;
    padding-left: 10px;
}


.arruma2{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    list-style-type: none;
    font-size: 40px;
    align-items: right;
    gap: 10px;
    /* --- scrol ---*/
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.divDosUsuarios{
    background-color: black;
    border: 5px solid linear-gradient(to bottom, #5EECF5, #002244) ;
    height: 100px;
    width: 600px;
}
