.cor{
    color: white;
    display: flex;
    justify-content: center;
}

.centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.img{
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}

.organiza{
    display: flex;
    justify-content: baseline;
    align-items: top;
    background: rgb(34, 34, 34);/*#5C5C5C*/
    width: 70%;
    border: 6px transparent solid;
    border-image: linear-gradient(45deg, #5EECF5, #002244);
    border-image-slice: 1;
    margin-top: 1%;
}


.pes_filtro{
    font-size: larger;
    font-weight: bold;
}
.text_fil{
    font-size: larger;
    font-weight: bold;
    color: #5EECF5;
}

.fil_cor{
    color: white;
}

.fil_sele{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 4%;
    margin-left: 15%;
}

.pesquisa2{
    font-size: xx-large;
    margin-bottom: 80px;
    border-end-end-radius: 100px;
    height: 40px;
    position: absolute;
    border: black 4px solid;
}


.filtros{
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: left;
    position: relative;
    margin-top: 4%;
    margin-bottom: 1%;
}

.fil{
    list-style-type: none;
}

.radioLabel{
    font-size: xx-large;
    background: linear-gradient(#5EECF5, #002244);
    color: white;
    display: flex;
    align-items: center;
    border: black 3px solid;
    border-radius: 50px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.filtro{
    font-size: 100px;
    margin-bottom: 15px;
}


.borda_lista{
    background: linear-gradient(45deg, #5EECF5, #002244);
    width: 70%;
    height: 380px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 70px;
    position: relative;
}

.lista{
    width: 95%;
    height: 350px;
    background-color: rgb(34, 34, 34);
    border: 5px solid transparent;
    border-radius: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    position: absolute;
}

.pesquisa{
    background-color: white;
    color: black;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    font-size: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border: black 4px solid;
}

.arruma2{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    list-style-type: none;
    font-size: 40px;
    align-items: right;
    gap: 10px;
    /* --- scrol ---*/
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.divDosUsuarios{
    background-color: black;
    border: 5px solid;
    border-image: linear-gradient(45deg, #5EECF5, #002244) 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.adicioarAmigo{
    background-color: black;
    border: 0px;
    cursor: pointer;
}