@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column; /* Muda para coluna em telas pequenas */
    text-align: center;
  }

  .text-container, .image-container {
    width: 100%;
  }
}



.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 20px;
}

.text-container {
  max-width: 50%;
  text-align: left;
  
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.p {
  font-size: 1.2rem;
  line-height: 1.5;
  
}

.image-container  {
  max-width: 100%;
  height: auto;
  margin: 150px;



}
.img {
    position: relative;
    left: 60%;
  }
   
.description_para{
  font-size: 30px;
  position: absolute;
  top: 54%;
  margin: 15px;
} 
.description{
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin: 15px;
}

.button{
  margin-top: 40px;
  display: inline-block;
  padding: 0.5rem 2.8rem;
  background-color: rgb(243, 243, 243);
  border-radius: 4rem;
  color: #000000;
  letter-spacing: 0.3rem;
  font-weight: 400;
  border: 2px solid #57b1cc;
  transition: 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 58%;
}
  

.button:hover{
  background-color: rgb(25, 118, 124);
}

.title{
  position: absolute;
  top: 36%;
  font-size: 70px;
  margin: 15px;
}

.link{
  position: absolute;
  top: 68%;
  color: aliceblue;
  font-size: 22px;
  margin: 15px;
}

.link2 {
  color: aliceblue;
}


.link2:hover{
  color: rgb(25, 118, 124);
}

.link3{
  color: rgb(3, 3, 3) ;
}