@media (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
    /* Muda para coluna em telas pequenas */
    text-align: center;
  }

  .text-container,
  .image-container {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 20px;
}

.text-container {
  max-width: 50%;
  text-align: left;

}

.h1 {
  
  font-size: 2.5rem;
  font-weight: bold;
}

.p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 500px;

}

.image-container {
  width: 50%;
  height: auto;
  margin: 150px;



}



.VAIPROLADO{
  display: flex;
  flex-direction: row;
  max-height: 20%;
}

.main_content {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.description_para {
  margin-left: 4%;
  width: 100%;
  font-size: 30px;
  margin-top: 20%;
  

}



.button {
  margin-top: 40px;
  display: inline-block;
  padding: 0.5rem 2.8rem;
  background-color: rgb(243, 243, 243);
  border-radius: 4rem;
  color: #000000;
  letter-spacing: 0.3rem;
  font-weight: 400;
  border: 2px solid #57b1cc;
  transition: 0.3s ease;
  cursor: pointer;
  top: 58%;
}


.button:hover {
  background-color: rgb(25, 118, 124);
}

.title{
  margin-top: 50%;
  font-size: 70px;
  margin: 15px;

}

.link {
  color: rgb(0, 0, 0);
  font-size: 22px;
  margin: 15px;
  display: block;
  margin-top: -90px;
  display: inline-block;
  padding: 0.5rem 2.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 40;
  border: 2px solid #57b1cc;
  transition: 0.3s ease;
  cursor: pointer;
  width: 100px;
  margin-left: 4%;

}

.link:hover{
  background-color: rgb(106, 169, 180);
  color: aliceblue;
}


.link2 {
  color: aliceblue;
}


.link2:hover {
  color: rgb(255, 255, 255);
}

.link3 {
  color: rgb(3, 3, 3);
}

.botoes {
  margin-top: 20% ;
  display: flex;
  flex-direction: column;
  Vertical-align: top;
}