.header {
    background: linear-gradient(to right, #00aaff, #0055ff);
    padding: 10px;
    text-align: left;
    border-radius: 6px;
    color: white;
    font-size: 18px;
}
  
.logo {
    font-weight: bold;
}
  
  .subtitle {
    font-size: 12px;
    margin-left: 10px;
}
  
.content {
    margin-top: 20px;
}
  
.h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #bbb;
}
  
.warning{
    display: flex;
    align-items: center;
    background: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
  
.icon {
    font-size: 70px;
    margin-right: 10px;
    color: antiquewhite;
}
  
.text {
    color: #ff5555;
    font-weight: bold;
    font-size: 35px;
}
  
.p {
    color: #bbb;
    margin-bottom: 10px;
    margin-top: 5%;
    font-size: 25px;
}
  
.delete {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff4444;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30%;
    margin-top: 20%;
}
  
.delete:hover {
    background: #cc0000;
}
.tabela_medic{

    margin-left: 30%;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    background:  rgb(0, 0, 0);
    cursor: pointer;
}
